span {
  color: red;
}

div {
  width: 100vw;
}

/*expand import content from "./folder/import_lv0.wxss" by "entry.wxss"*/

span {
  font-size: 30px;
}

/*expand import content from "./import_lv1.wxss" by "folder/import_lv0.wxss"*/

span {
  font-weight: bold;
}

/* @import "./import_comment.wxss"; it is a import in comment will ignore */

/*expand import content from "/folder/import_abs.wxss" by "entry.wxss"*/

div {
  height: 50vh;
}

/*"folder/import_lv0.wxss" was already imported by "entry.wxss"*/

/*"folder/import_abs.wxss" was already imported by "entry.wxss"*/

/*"folder/import_lv1.wxss" was already imported by "folder/import_lv0.wxss"*/